@import url('https://fonts.googleapis.com/css?family=Oswald:300,400&display=swap');

*{
  box-sizing: border-box;
}

/* KEYFRAMES     */

@keyframes translate542 {
  from {
    transform: translateX(-542px)
  }
   to {
     transform: translateX(0)
   }
}

@keyframes translate {
  from {
    transform:  translateX(100%)
  }
  to {
    transform:  translateX(0)
  }
}

@keyframes translate150 {
  from {
    transform:  translateX(150%)
  }
  to {
    transform:  translateX(0)
  }
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}


@keyframes blink {
  50% {
    border-color: transparent;

  }
}
@keyframes postit {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(-10px);
  }
}

@keyframes triangle_go {
  from {
    transform: translateX(-100vw);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

@keyframes triangle--text {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes chapter {
  from {
    transform: translateY(100vh);
  }

  to {
    transform: translateY(0);
  }
}



body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    border: 0;
    padding: 0;
  }
  
  .section {
    height: 100vh;
    position: relative;
  }
  
  .section--horizontal {
    height: 400vw;
  }
  .section--horizontal .section__inner {
    width: 400vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .section--isFixed .section__inner {
    position: fixed;
  }
  
  .section--isScrolled .section__inner {
    bottom: 0;
    top: auto;
  }
  
  .products {
    display: flex;
  }
  
  .products__product {
    flex-basis: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    font-family: Helvetica, sans-serif;
    background-color:rgb(107, 9, 9);
    position: relative;

  }
  .section--horizontal {
    height: 200vw;
  }

  .section--horizontal--modifier {
    height: 100vw;

  }
  .section--horizontal .section__inner {
    width: 200vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }

  .modifier {
    height: 100vw;
  }
  
  .section--isFixed .section__inner {
    position: fixed;
  }
  
  .section--isScrolled .section__inner {
    bottom: 0;
    top: auto;
  }
  
  .products {
    display: flex;
  }
  
  .products__product {
    flex-basis: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    font-family: Helvetica, sans-serif;
    background-color:rgb(107, 9, 9);
    position: relative;

  }

.fil {
  position: absolute;
  bottom: 0;
  z-index:100;
  height:20px;
  width: 100vw;
  background-color:rgb(107, 9, 9);
  color:red;
  display: flex;

}

.fil__in {
  position: absolute;
  bottom: 0;
  z-index:100;
  height:10px;
  width: 100px;
  background-color:rgb(219, 17, 17);
  color:red;
}

.products__product:nth-child(1) {
    flex-direction: column;
    background: url('../images/bgHome.png') no-repeat ;
    background-size: cover;
}



/* article 1 */

.article--one {
  background: url('../images/bg-arti1.png') no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.article--two {
  background: url('../images/bg1.png') no-repeat;
  background-size: cover;
  height: 100vh;
}

.bg2 {
  background: url('../images/img2.png') no-repeat;
  background-size: cover;

}

.bg3 {
  background: url('../images/bg3.png') no-repeat;
  background-size: cover;
}

.postit {
  width: 145px;
  height: 223px;
  background-color: rgba(70, 26, 39, 0.845);
  position: absolute;
  right: 85px;
  margin-top: 30px;
  animation: postit 1s infinite alternate;
  box-shadow: rgba(70, 26, 39, 0.845) 0 0 3px;
  border-radius: 10px;

}
.postit__in {
  width: 45px;
  height: 100%;
  box-shadow: rgba(70, 26, 39, 0.845) 0 0 3px;
  background-color: rgba(94, 158, 151, 0.68);
  border-radius: 10px 0 0 10px;

}
.postit--open {
  width: 535px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; 
  font-weight: 300;
  font-family: Oswald, sans-serif;
  font-size: 24px;
  text-align: center;
  line-height: 120%;
}

.postit--open i {
  position: absolute;
  top:5px;
  right:10px;
}

.hidden {
  display: none;
}
.bold {
  font-weight: 500;
}
.triangle {
  height: 100vh;
  width: 530px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: triangle_go 1s;
}

.triangle img {
  height: 100%;
  width: 530px;
  position: absolute;
}

.triangle p {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: white;
  width: 240px;
  margin-bottom: 130px;
  font-size: 40px;
  position: relative;
  line-height: 120%;
  animation: triangle--text 3s;
}

.bold {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;

}

.right {
  height: 100vh;
  width: 300px;
  background-color: #471B28;
  color: white;
  font-family: Oswald;
  font-size: 25px;
  text-align: center;
  font-weight: 300;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  right: 16px;
}

.right h2 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 100px;

}

.chapter {
  height: 160px;
  width: 100vw;
  bottom: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: chapter 2s;
  z-index: 10;
  opacity: 0;
  transition: 500ms opacity;
}

.chapter--relative {
  position: relative;
}

.chapter--art2 {
  position: fixed;
  bottom: 0;
}

.line {
  height: 2px;
  width: calc(100% - 500px);
  background: white;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: white 0 0 2px;
}

.line__in {
  position: absolute;
  background: rgb(206, 9, 9);
  width: 0%;
  left:0;
}
.round {
  height: 10px;
  width: 10px;
  background: white;
  border-radius: 10px;
  position: relative;
  transition: 300ms;
}

.round:hover {
  cursor: pointer;
}

.is--in {
  background: #5E9E97;
  box-shadow: #5E9E97 0 0 3px;
  height: 15px;
  width: 15px;
}

.title--chapter {
  color: white; 
  font-family: Oswald, sans-serif;
  font-size: 45px;
  width: 15%;
  text-align: center;
  line-height: 120%;
  position: absolute;
  right: 10px;
  top: -10px;
}

.round--title {
  position: absolute;
  bottom: 40px;
  right: -15px;
  font-size: 20px;
  color: white;
  font-family: Oswald, sans-serif;
  line-height: 120%;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.596) 0 0 3px;
}

.article--one__first {
  background: url('../images/img2.png') no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.notes {
  width: 281px;
  height: 220px;
  background-color: rgba(70, 26, 39, 0.719);
  position: absolute;
  bottom: -200vh;
  left: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 0;
  animation: postit 1s infinite alternate;

}

.notes p {
  color: white;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  line-height: 120%;
}

/* homepage */

.products__product:nth-child(1) {
  flex-direction: column;
  background: url('../images/bgHome.png') no-repeat center ;
  background-size: cover;
}

span.v {
color: #471B29;
font-size: 10rem;

}

.blocHome {
height: 100vh;
background: #191818;
width: 350px;
position: absolute;
left: 0;
}

.product__author {
color: white;
font-family: Agency, sans-serif;

}

.product__date {
color: white;
font-size: 4rem;
margin-left: 2%;
margin-top: 3%;
}

.product__title {
color: white;
margin-left: 3%;
font-size: 4rem;
margin-top: 3%;
}

.home__text {
margin-right: 40%;
margin-top: 30%;
z-index: 1;
font-family: Agency, sans-serif;
animation: fadein 2s forwards;
animation-delay: 900ms;
opacity: 0;
}

.top {
  position: absolute;
  top: 0;
  background: black;
  height: 50vh;
  width: 100vw;
  z-index: 3;
  transition: transform 800ms ease;
}

.bottom {
position: absolute;
bottom: 0;
background: black;
height: 50vh;
width: 100vw;
z-index: 3;
transition: transform 800ms ease;

}

.up {
transform: translateY(-100%);
}

.down {
transform: translateY(100%);
} 
/* article2 */

.articleTwo {
  background: url('../images/bg-article2.png') no-repeat center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.articleTwo__title {
  color: white;
  font-size: 6rem;
  font-family: Agency, sans-serif;
  z-index: 1;
  animation: fadein 2s forwards;
  animation-delay: 500ms;
  opacity: 0;
}

.titleContainer {
  background: #471B29;
  height: 100px;
  width: 423px;
  position: absolute;
  top: 47%;
  right: 39%;
  opacity: 0;
  animation: fadein 2s forwards;
  animation-delay: 500ms;
}

.chapter--articles {
  height: 160px;
  width: 100vw;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: chapter 2s;
  position: fixed;

  
}

/* page 2 */

.articleTwo__page2 {
  height: 100vh;
  background: black;

}

.page2__title {
  color: white;
  font-size: 6rem;
  font-family: Agency, sans-serif;
  z-index: 1;
  animation: fadein 2s forwards;
  animation-delay: 500ms;
  opacity: 0;
  padding-top: 30px;
}

.page2__titleContainer {
  background: #471B29;
  height: 100px;
  width: 423px;
  position: absolute;
  top: 47%;
  right: 39%;
  opacity: 0;
  animation: fadein 2s forwards;
  animation-delay: 500ms;
}

.typrewritter {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.css-typing {
  border-right: .15em solid orange;
  font-size: 6rem;
  white-space: nowrap;
  overflow: hidden;
  width: 13.3em;
  animation: type 4s steps(40, end); 
  animation-fill-mode: forwards;
  color: white;
}

/* page 3 */

.articleTwo__page3 {
  align-items: center;
  height: 100vh;
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;


}

.page3__video {
  width: 50vw;
  height: 100vh;
}

.page3__text {
  margin-top: -250px;
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
}

.text__2 {
  background: #471B29;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  height: 147px;
  width: 60vh;
  margin-right: 250px;
  margin-top: -240px;
  transform: translateX(150%);
  animation: translate150 1.5s forwards;

}

.text__2 p {
  font-size: 37px;
  padding: 33px;
  line-height: 137%;
}

.text__1 {
  background: #471B29;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  height: 147px;
  transform: translateX(100%);
  animation: translate 1.5s forwards;

}

.text__1 p {
  font-size: 51px;
  padding: 33px;
  line-height: 137%;
}

.chemin1 {
  height: 1px;
  width: 100px;
  position: absolute;
  right: -100px;
  background: white;
}

.chemin2 {
  height: 628px;
  width: 1px;
  position: absolute;
  right: 158px;
  top: 147PX;
  background: white;
}

.articleTwo__page4 {
  align-items: center;
  height: 100vh;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.page4__cheminContaint {
  height: 30vh;
  width: 100vw;
  position: relative;

}

.chemin3 {
  height: 150px;
  width: 1px;
  background: white;
  position: absolute;
  right: 158px;

}

.chemin4 {
  width: 1362px;
  height: 1px;
  background: white;
  position: absolute;
  top: 150px;
  right: 158px;
}

.chemin5 {
  width: 1px;
  height: 100px;
  background: white;
  position: absolute;
  top: 150px;
  left: 158px;
}

.chemin6 {
  width: 60px;
  height: 1px;
  background: white;
  position: absolute;
  top: 249px;
  left: 158px;
}

.page__article4 {
  height: 70vh;
  width: 100vw;
  position: relative;
}

.article4__img {
  top: -76px;
  position: absolute;
  left: 218px;
  width: 553px;
  height: 360px;
  z-index: 1;

}

.article4__text {
  width: 603px;
  height: 360px;
  background: #471B29;
  position: absolute;
  left: 771px;
  top: -76px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  font-size: 1.5rem;
  transform: translateX(-542px);
  animation: translate542 1s forwards;
  animation-delay: 1s;
  
}

.article4__text p{
  opacity: 0;
  animation: fadein 500ms forwards;
  animation-delay: 1.5s;
  line-height: 180%;
  padding-left: 45px;
  padding-right: 70px;

}

.articleTwo__page5 {
  height: 100vh;
  background: black;
}

.typrewritter--1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.css-typing--1 {
  border-right: .15em solid orange;
  font-size: 2.6rem;
  white-space: nowrap;
  overflow: hidden;
  width: 32.1em;
  animation: type 5s steps(50, end); 
  animation-fill-mode: forwards;
  color: white;
  text-align: center;
}


.next a{
  position: absolute;
  right: 30px;
  top:50%;
  transform: translateY(-50%);
  color: red;
  font-size: 30px;
  text-decoration: none;
  border: 1px white solid;
  border-radius: 30px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
