@import url('https://fonts.googleapis.com/css?family=Oswald:300,400&display=swap');

*{
  box-sizing: border-box;
}

/* KEYFRAMES     */

@keyframes up {
  from {
    height: 100%;
  }
   to {
     height: 0;
    }
}

@keyframes translate542 {
  from {
    transform: translateX(-542px)
  }
   to {
     transform: translateX(0)
   }
}

@keyframes translate {
  from {
    transform:  translateX(100%)
  }
  to {
    transform:  translateX(0)
  }
}

@keyframes translate150 {
  from {
    transform:  translateX(150%)
  }
  to {
    transform:  translateX(0)
  }
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}


@keyframes blink {
  50% {
    border-color: transparent;

  }
}
@keyframes postit {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(-10px);
  }
}

@keyframes triangle_go {
  from {
    transform: translateX(-100vw);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

@keyframes triangle--text {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes chapter {
  from {
    transform: translateY(100vh);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes intro {
  from {
    height: 100%;
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}



body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    border: 0;
    padding: 0;
    background: black;

  }

  /* html {
    cursor: url('../images/souris.png'), pointer;
  } */

  .cursor {
    border: #FBFBFB 1px solid;
    height: 23px;
    width: 23px;
    border-radius: 20px;
    position: absolute;
    transition-duration: 100ms;
    transition-timing-function: ease-out;
  }
  
  .section {
    height: 100vh;
    position: relative;
  }
  
  .section--isFixed .section__inner {
    position: fixed;
  }
  
  .section--isScrolled .section__inner {
    bottom: 0;
    top: auto;
  }
  
  .products {
    display: flex;
    position: relative;
  }
  
  .section--horizontal {
    height: 200vw;
  }

  .section__inner {
    width: 200vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index:0;
  }
  
  .section--isFixed .section__inner {
    position: fixed;
  }
  
  .section--isScrolled .section__inner {
    bottom: 0;
    top: auto;
  }
  
  .products {
    display: flex;
  }
  
  .products__product {
    flex-basis: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    font-family: Oswald, sans-serif;
    position: relative;
    flex-direction: column;
    background: url(../images/bgHome.png) no-repeat center;
    background-size: cover;
  }


  .products__product1 {
    flex-basis: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    font-family: Oswald, sans-serif;
    position: relative;
    flex-direction: column;
    background: url('../images/bg3.png') no-repeat center;
    background-size: cover;
  }

  .products__product2 {
    flex-basis: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    font-family: Oswald, sans-serif;
    background-color:rgb(107, 9, 9);
    position: relative;
    flex-direction: column;
    background: url('../images/bg-article2.png') no-repeat center;
    background-size: cover;
  }

.fil {
  position: absolute;
  bottom: 0;
  z-index:100;
  height:20px;
  width: 100vw;
  background-color:rgb(107, 9, 9);
  color:red;
  display: flex;

}

.fil__in {
  position: absolute;
  bottom: 0;
  z-index:100;
  height:10px;
  width: 100px;
  background-color:rgb(219, 17, 17);
  color:red;
}



/* article 1 */

.article--one {
  background: url('../images/bg-arti1.png') no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  z-index:0;
}

.article--two {
  background: url('../images/bg1.png') no-repeat;
  background-size: cover;
  height: 100vh;
  z-index:0;
}

.bg2 {
  background: url('../images/img2.png') no-repeat;
  background-size: cover;

}

.bg3 {
  background: url('../images/bg3.png') no-repeat;
  background-size: cover;
}

.postit {
  width: 145px;
  height: 223px;
  background-color: rgba(70, 26, 39, 0.845);
  position: absolute;
  right: 85px;
  margin-top: 30px;
  animation: postit 1s infinite alternate;
  box-shadow: rgba(70, 26, 39, 0.845) 0 0 3px;
  border-radius: 10px;
}

.postit:hover, .notes:hover {
  cursor: pointer;
}

.postit__in {
  width: 45px;
  height: 100%;
  box-shadow: rgba(70, 26, 39, 0.845) 0 0 3px;
  background-color: rgba(94, 158, 151, 0.68);
  border-radius: 10px 0 0 10px;

}
.postit--open {
  width: 535px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; 
  font-weight: 300;
  font-family: Oswald, sans-serif;
  font-size: 24px;
  text-align: center;
  line-height: 120%;
}

.postit--open i {
  position: absolute;
  top:5px;
  right:10px;
}

.hidden {
  display: none;
}
.bold {
  font-weight: 500;
}
.triangle {
  height: 100vh;
  width: 530px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: triangle_go 1s;
}

.triangle img {
  height: 100%;
  width: 530px;
  position: absolute;
}

.triangle p {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: white;
  width: 240px;
  margin-bottom: 130px;
  font-size: 40px;
  position: relative;
  line-height: 120%;
  animation: triangle--text 3s;
  right: 70px;
}

.bold {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;

}

.right {
  height: 100vh;
  width: 300px;
  background-color: #471B28;
  color: white;
  font-family: Oswald;
  font-size: 25px;
  text-align: center;
  font-weight: 300;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  right: 0;
  z-index: 0;
}

.right h2 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 100px;

}

.chapter {
  height: 160px;
  width: 100vw;
  bottom: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: chapter 2s;
  z-index: 10;
  opacity: 0;
  transition: 500ms opacity;
}

.chapter--relative {
  position: relative;
}

.chapter--art2 {
  position: fixed;
  bottom: 0;
}

.line {
  height: 2px;
  width: calc(100% - 500px);
  background: white;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: white 0 0 2px;
}

.line__in {
  position: absolute;
  background: rgb(206, 9, 9);
  width: 0%;
  left:0;
}
.round {
  height: 10px;
  width: 10px;
  background: white;
  border-radius: 10px;
  position: relative;
  transition: 300ms;
  z-index: 10000;
}

.round:hover {
  cursor: pointer;
}

.is--in {
  background: #5E9E97;
  box-shadow: #5E9E97 0 0 3px;
  height: 15px;
  width: 15px;
}

.title--chapter {
  color: white; 
  font-family: Oswald, sans-serif;
  font-size: 45px;
  width: 15%;
  text-align: center;
  line-height: 120%;
  position: absolute;
  right: 10px;
  top: -10px;
}

.round--title {
  position: absolute;
  bottom: 40px;
  right: -15px;
  font-size: 20px;
  color: white;
  font-family: Oswald, sans-serif;
  line-height: 120%;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.596) 0 0 3px;
}

.article--one__first {
  background: url('../images/img2.png') no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.notes {
  width: 281px;
  height: 220px;
  background-color: rgba(70, 26, 39, 0.719);
  position: absolute;
  bottom: -200vh;
  left: 70vw;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 0;
  animation: postit 1s infinite alternate;
}

.notes p {
  color: white;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  line-height: 120%;
}

/* homepage */




span.v {
color: #471B29;
font-size: 10rem;

}

.blocHome {
height: 100vh;
background: #191818;
width: 350px;
position: absolute;
left: 0;
}

.product__author {
color: white;
font-family: Agency, sans-serif;

}

.product__date {
color: white;
font-size: 4rem;
margin-left: 2%;
margin-top: 3%;
}

.product__title {
color: white;
margin-left: 3%;
font-size: 4rem;
margin-top: 3%;
}

.home__text {
margin-right: 40%;
margin-top: 30%;
z-index: 1;
font-family: Agency, sans-serif;
animation: fadein 2s forwards;
animation-delay: 900ms;
opacity: 0;
}

.top {
  position: absolute;
  top: 0;
  background: black;
  height: 50vh;
  width: 100vw;
  z-index: 3;
  transition: transform 800ms ease;
}

.bottom {
position: absolute;
bottom: 0;
background: black;
height: 50vh;
width: 100vw;
z-index: 3;
transition: transform 800ms ease;

}

.up {
animation: up 2s forwards;
}

.down {
  animation: up 2s forwards;

} 
/* article2 */

.article_Two {
  background: url('../images/bg-article2.png') no-repeat center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.articleTwo__title {
  color: white;
  font-size: 6rem;
  font-family: Oswald, sans-serif;
  z-index: 1;
  animation: fadein 2s forwards;
  animation-delay: 500ms;
  opacity: 0;
}

.titleContainer {
  background: #471B29;
  height: 100px;
  width: 423px;
  position: absolute;
  top: 47%;
  right: 39%;
  opacity: 0;
  animation: fadein 2s forwards;
  animation-delay: 500ms;
}

.chapter--articles {
  height: 160px;
  width: 100vw;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: chapter 2s;
  position: fixed;

  
}

/* page 2 */

.articleTwo__page2 {
  height: 70vh;
  background: black;
  position: relative;

}

.page2__title {
  color: white;
  font-size: 6rem;
  font-family: Agency, sans-serif;
  z-index: 1;
  animation: fadein 2s forwards;
  animation-delay: 500ms;
  opacity: 0;
  padding-top: 30px;
}

.page2__titleContainer {
  background: #471B29;
  height: 100px;
  width: 423px;
  position: absolute;
  display: none;
  top: 47%;
  right: 39%;
  opacity: 0;
  animation: fadein 2s forwards;
  animation-delay: 500ms;
}

.typrewritter {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.css-typing {
  border-right: .15em solid orange;
  font-size: 6rem;
  white-space: nowrap;
  overflow: hidden;
  width: 13.3em;
  animation: type 4s steps(40, end); 
  animation-fill-mode: forwards;
  color: white;
  font-family: Oswald, sans-serif;
  font-weight: 100;

}

/* page 3 */

.articleTwo__page3 {
  align-items: center;
  height: 70vh;
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;


}

.page3__video {
  width: 50vw;
  height: 100vh;
}

.article2__video1 {
  height: 562px;
  width: 715px;
  margin-left: 62px;
  margin-top: 79px;
}

.page3__text {
  margin-top: -250px;
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
}

.text__2 {
  background: #471B29;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  height: 147px;
  width: 60vh;
  margin-right: 250px;
  margin-top: -240px;
  transform: translateX(150%);
  animation: translate150 1.5s forwards;
  font-family: Oswald, sans-serif;
  font-weight: 100;
}

.text__2 p {
  font-size: 37px;
  padding: 33px;
  line-height: 137%;
}

.text__1 {
  background: #471B29;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  height: 147px;
  transform: translateX(100%);
  animation: translate 1.5s forwards;
  font-family: Oswald, sans-serif;
  font-weight: 100;


}

.text__1 p {
  font-size: 51px;
  padding: 33px;
  line-height: 137%;
}


.chemin {
  animation: chemin 4s forwards; 
}
.chemin1 {
  height: 1px;
  width: 100px;
  position: absolute;
  right: -100px;
  background: white;
}

.chemin2 {
  height: 628px;
  width: 1px;
  position: absolute;
  right: 158px;
  top: 147PX;
  background: white;
}

/* page4 */

.articleTwo__page4 {
  align-items: center;
  height: 60vh;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.page4__cheminContaint {
  height: 30vh;
  width: 100vw;
  position: relative;

}

.chemin3 {
  height: 150px;
  width: 1px;
  background: white;
  position: absolute;
  right: 158px;

}

.chemin4 {
  width: 1362px;
  height: 1px;
  background: white;
  position: absolute;
  top: 150px;
  right: 158px;
}

.chemin5 {
  width: 1px;
  height: 100px;
  background: white;
  position: absolute;
  top: 150px;
  left: 158px;
}

.chemin6 {
  width: 60px;
  height: 1px;
  background: white;
  position: absolute;
  top: 249px;
  left: 158px;
}

.chemin7 {
  width: 60px;
  height: 1px;
  background: white;
  position: absolute;
  top: 249px;
  right: 245px;
}

.page__article4 {
  height: 70vh;
  width: 100vw;
  position: relative;
}

.article4__img {
  top: 36px;
  position: absolute;
  left: 218px;
  width: 553px;
  height: 360px;
  z-index: 1;

}

.article4__text {
  width: 603px;
  height: 360px;
  background: #471B29;
  position: absolute;
  left: 771px;
  top: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  font-size: 1.5rem;
  transform: translateX(-542px); 
  animation: translate542 1s forwards;
  animation-delay: 10s;
font-family: Oswald, sans-serif;
font-weight: 100;
}



.article4__text p{
  opacity: 0;
  animation: fadein 500ms forwards;
  animation-delay: 1.5s;
  line-height: 180%;
  padding-left: 45px;
  padding-right: 70px;

}

/* page5 */

.products__product3 {
  flex-basis: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  font-family: Oswald, sans-serif;
  font-weight: 100;
  background-color:black;
  position: relative;
  flex-direction: column;
  z-index:0;

}

.articleTwo__page5 {
  flex-basis: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  font-family: Oswald, sans-serif;
  background-color:black;
  position: relative;
  flex-direction: column;

}


.typrewritter--1 {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: absolute;
  top: 1px;
}

.css-typing--1 {
  border-right: .15em solid orange;
  font-size: 2.7rem;
  white-space: nowrap;
  overflow: hidden;
  width: 35em;
  animation: type 5s steps(50, end);
  animation-fill-mode: forwards;
  color: white;
  text-align: center;
}

.chemin8 {
  position: absolute;
  width: 700px;
  height: 1px;
  background: white;
  z-index: 1;
  right: 30%;
  top: 197px;

}


/* page6 */

.articleTwo__page6 {
  flex-basis: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-family: Oswald, sans-serif;
  background-color:black;
  position: relative;
  flex-direction: column;
  color: white;
}

.chemin9 {
  position: absolute;
  width: 1px;
  height: 254px;
  background: white;
  z-index: 1;
  right: 27%;
  top: -98px;
}

.page6Container{
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.page6__image {
  margin-top: -209px;
  margin-right: 127px;
  
}

.page6__text {
  height: 43vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -160px;
  font-weight: 100;
}

.page6__text p:nth-child(1) {
  height: 100px;
  display: flex;
  align-items: center;
  font-size: 2rem;
  padding-right: 157px;
  margin-left: 143px;
  line-height: 161%;
  font-weight: bold;
}

.page6__text p:nth-child(2) {
  display: flex;
  align-items: center;
  font-size: 31px;
  line-height: 161%;
  width: 560px;
  height: 225px;
  margin-left: 143px;
}


.chemin10 {
  position: absolute;
  width: 100px;
  height: 1px;
  background: white;
  left: 0px;
}

.chemin11 {
  position: absolute;
  width: 100px;
  height: 1px;
  background: white;
  left: 0px;
  top: 242px;

}

.chemin12 {
  position: absolute;
  width: 1px;
  height: 317px;
  background: white;
  left: 144px;
  top: 631px;
}

/* page7 */

.articleTwo__page7 {
  flex-basis: 100vw;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-family: Oswald, sans-serif;
  background-color: black;
  position: relative;
  flex-direction: column;
  color: white;
}

.chemin13 {
  position: absolute;
  width: 1px;
  height: 20px;
  background: white;
  left: 144px;
  top: 0;
}

.chemin14 {
  position: absolute;
  width: 100px;
  height: 1px;
  background: white;
  left: 145px;
  top: 20px;
}

.page7__text {
  font-size: 37px;
  text-align: center;
  padding: 220px;
  line-height: 125%;
  margin-left: 43px;
  margin-top: -273px;
  font-weight: 100;

}

/* page8 */

.articleTwo__page8 {
  flex-basis: 100vw;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-family: Oswald, sans-serif;
  font-weight: 100;
  background-color:black;
  position: relative;
  flex-direction: column;
  color: white;
}

 .chemin15 {
  position: absolute;
  width: 1px;
  height: 216px;
  background: white;
  left: 848px;
  top: -180px;
 }

 .articleTwo__page8 p {
  font-size: 37px;
  text-align: center;
  padding-right: 23%;
  padding-left: 23%;
  margin-top: -347px;
  line-height: 125%;
 }



.next a{
  position: absolute;
  right: 30px;
  top:50%;
  transform: translateY(-50%);
  color: red;
  font-size: 30px;
  text-decoration: none;
  border: 1px white solid;
  border-radius: 30px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* article 3 */

.articleThree {
  width: 100vw;
  background-attachment: local, scroll;
  background: url('../images/fond.png') no-repeat center;
  background-size: cover;
}

.first_title {
  position: relative;
}

.first_title h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 108px;
  color: white;
  text-align: center;
  position: relative;
  z-index: 1;
}

.first_title div {
  width: 390px;
  height: 130px;
  background: #471A28;
  position: absolute;
  left: 30px;
  top: 12px;
}

.products__product5 {
  flex-basis: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  font-family: Oswald, sans-serif;
  background: url('../images/fond.png') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  flex-direction: column;
  z-index:0;
}


@font-face {
  font-family: Oswald;
  src: url(../oswald/oswald.light.ttf);
}

@font-face {
  font-family: oswald-regular;
  src: url(../oswald/oswald.regular.ttf);
}



.first, .second, .three, .foor {
  height: 100vh;
  position: relative;
  z-index: -10;
  
}



.first_title h1 span {
  font-size: 90px;
}



/* section 2 */

.second p {
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  color: white;
  font-size: 34px;
  width: 500px;
  line-height: 150%;
  word-spacing: 7px;
  margin-bottom: 40px;
}

.second p span {
  font-family: 'oswald-regular', sans-serif;
  font-size: 46px;
}

.second .second__image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.second .second__text {
  display: flex;
  flex-direction: column;
}

.second img {
  margin-left: 80px;
  width: 400px;
}

/* section 3 */

.three_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-left: 18%;
}

.three_text p, .three_text--second {
  font-family: Oswald, sans-serif;
  font-weight: 100;
  color: white;
  font-size: 64px;
}

.three_text .three_text--second {
  font-size: 46px;
  margin-top: 50px;
}

.three_text div {
  width: 832px;
  height: 60px;
  background: #471A28;
  position: absolute;
  margin-top: 90px;
  left: 290px;
  z-index: -1;
}

/* section 4 */

.foor .foor_circle {
  width: 70px;
  height: 70px;
  border-radius: 1000px;
  background: #471B28;
  position: relative;
  left: 120px;
  top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foor .foor_circle_number {
  font-family: Oswald, sans-serif;
  font-weight: 100;
  font-size: 36px;
  color: white;
  position: absolute;
}

.foor h1 {
  font-family: Oswald, sans-serif;
  font-weight: 100;
  font-size: 55px;
  color: white;
  padding: 5px 0 0 215px;
}

.foor__image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.foor__image img {
  width: 350px;
  margin: 110px 120px 0 150px;
}

.foor_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.foor_text p {
  font-family: 'Oswald', sans-serif;
  font-size: 33px;
  color: white;
  width: 900px;
  margin-bottom: 28px;
  line-height: 170%;
  word-spacing: 3px;
}

p .span_font {
  font-family: 'oswald', sans-serif;
}

p .span_white {
  font-family: 'oswald', sans-serif;
  font-size: 37px;
}

/* section 5 */

.five_circle {
  width: 70px;
  height: 70px;
  border-radius: 1000px;
  background: #471B28;
  position: absolute;
  left: 120px;
  top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.five_circle_number {
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  color: white;
  position: absolute;
}

.five_title {
  font-family: 'Oswald', sans-serif;
  font-size: 55px;
  color: white;
  position: absolute;
  top: 80px;
  left: 218px;

}

.five__subtitle {
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 100px;
  left: 870px;
  font-weight: 500;
}

.five__containt {
  font-size: 30px;
  color: white;
  list-style: disc;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  margin-right: 159px;
  font-weight: 100;
  margin-top: 100px;
}

.five__containt li:nth-child(3) {
  width: 1075px;
}
.five__containt li:nth-child(4) {
  width: 1212px;
}

.five__containt li {
  margin-top: -120px;
}



/* article 4 */

.products__product6 {
  flex-basis: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  font-family: Oswald, sans-serif;
  background-image: url('../images/fond4.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  flex-direction: column;

}

.first, .second, .three {
  height: 100vh;
}

.first_div {
  position: relative;
}

.first_div h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  font-size: 108px;
  color: white;
  text-align: center;
  position: relative;
  z-index: 1;
}

.first_div div {
  width: 390px;
  height: 130px;
  background: #471A28;
  position: absolute;
  left: 30px;
  top: 12px;
}

/* section 2 */

.second_div {
  height: 100%;
  width: 700px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.second_div p  { 
  font-family: Oswald, sans-serif;
  font-weight: 100;
  font-size: 33px;
  color: white;
  width: 600px;
  line-height: 160%;
  word-spacing: 5px;
}

.second_div p .span_big {
  font-family: Oswald, sans-serif;
  font-size: 44px;
}

.second_div p .span_font {
  font-family: Oswald, sans-serif;
}

/* section 3 */

.products__product7 {
  flex-basis: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-size: 100px;
  font-family: Oswald, sans-serif;
  position: relative;
  flex-direction: column;
}

.three_div {
  height: 100vh;
  width: 700px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.three_div .three_text-first {
  font-family: Oswald, sans-serif;
  font-weight: 100;
  font-size: 30px;
  color: white;
  width: 600px;
  line-height: 160%;
  word-spacing: 5px;
}

.three_div .three_text-second {
  font-family: Oswald, sans-serif;
  font-weight: 100;
  font-size: 30px;
  color: white;
  width: 600px;
  line-height: 160%;
  word-spacing: 5px;
  margin-top: 50px;
}

.three_div .three_text-three {
  font-family: Oswald, sans-serif;
  font-weight: 100;
  font-size: 30px;
  color: white;
  width: 600px;
  line-height: 160%;
  word-spacing: 5px;
  margin: 50px 0 50px 0;
}

/* section 4 */

.section5__image {
  width: 1697px;
  height: 434px;
  position: absolute;
  left: 0%;
}

.section5__text {
  color: white;
  font-size: 45px;
  position: absolute;
  line-height: 150%;
  left: 75px;
  top: 500px;
  font-family: Oswald, sans-serif;
    font-weight: 100;
}

.section4__image {
  width: 1303px;
  height: 418px;
  position: absolute;
  left: 23%;
  top: 272px;
}

.section4__text {
  color: white;
  font-size: 45px;
  position: absolute;
  line-height: 160%;
  left: 407px;
  top: 319px;
  padding-right: 588px;
  font-family: Oswald, sans-serif;
  font-weight: 100;

}

.section5__image1 {
  position: absolute;
    top: 32%;
    left: 36%;
}

  .section5__text1 {
    font-size: 24px;
    color: white;
    z-index: 1;
    margin-top: 374px;
    margin-left: 439px;
    font-family: Oswald, sans-serif;
    font-weight: 100;
  }

  .section6__image {
    width: 1697px;
    height: 434px;
    position: absolute;
  }

  .section6__text {
    font-size: 24px;
    color: white;
    position: absolute;
    top: 649px;
    left: 6%;
  }

  .section6__image1 {
    top: 303px;
    position: absolute;
    left: -327px;
  }

  .section6__image2 {
    top: 303px;
    position: absolute;
    left: 398px;
  }

  .textContaint {
    height: 290px;
    width: 455px;
    position: absolute;
    top: 60px;
    right: 374px;
    background: rgba(0, 0, 0, 0.61);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 13px;
    line-height: 49%;
  }

  .textContaint__text {
    font-family: Oswald, sans-serif;
    font-weight: 100;
    font-size: 26px;
    color: white;
    padding: 10px;
  }

  .textContaint__text strong {
    font-weight: bold;
  }
  


/* article 5 */

@font-face {
  font-family: oswald-light;
  src: url(../oswald/oswald.light.ttf);
}

@font-face {
  font-family: oswald-regular;
  src: url(../oswald/oswald.regular.ttf);
}

.fond {
  background-image: url('../images/fond5.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: -10;
}

.articleFive_first {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: -10;
}

.articleFive_first_div {
  padding-top: 190px;
  display: flex;
  justify-content: center;
}

.articleFive_first_margin {
  margin-left: 50px;
}

.articleFive_first_div h1 {
  font-family: oswald, sans-serif;
  font-weight: 100;
  font-size: 108px;
  color: white;
  width: 400px;
}

.articleFive_first_div h1::before { 
  content: "";
  display: block;
  width: 420px;
  height: 145px;
  background-color: #471B28;
  position: absolute;
  left: 620px;
  top: 220px;
  z-index: -1;
}


/* Section 2 */

.articleFive_second {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: -10;
}

.articleFive_second_div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.articleFive_second_div h1 {
  font-family: oswald-light, sans-serif;
  font-weight: 100;
  font-size: 46px;
  color: white;
  word-spacing: 5px;
  width: 900px;
  text-align: center;
  line-height: 170%;
 }

 .span_font-articleFive {
  font-family: oswald, sans-serif;
 }

 .span_font-articleFive--size {
  font-family: oswald, sans-serif;
  font-size: 52px;
 }

 /* section 3 */

 .articleFive_three {
  height: 100vh;
 }

 /* section 4 */

 .articleFive_for {
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.5);
   position: relative;
   z-index: -10;
 }

 .articleFive_for_div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
 }

.articleFive_for p {
  font-family: oswald-light, sans-serif;
  font-weight: 100;
  font-size: 46px;
  color: white;
  word-spacing: 5px;
  text-align: center;
  line-height: 170%;
}

/* section 5 */

.articleFive_five {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: -10;
}

.articleFive_five_div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.articleFive_five_div p {
  font-family: oswald-light, sans-serif;
  font-weight: 100;
  font-size: 36px;
  color: white;
  word-spacing: 5px;
  text-align: center;
  line-height: 170%;
  width: 1100px;
}

.span_font_size {
  font-family: oswald, sans-serif;
  font-size: 59px;
}

/* section 6 */

.articleFive_six {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: -10;
}

.articleFive_six_div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  margin-left: 300px;
}

.articleFive_six_div h1 {
  font-family: oswald-light, sans-serif;
  font-size: 41px;
  color: white;
  margin-bottom: 50px;
}

.articleFive_six_div p {
  font-family: oswald-light, sans-serif;
  font-size: 33px;
  line-height: 160%;
  color: white;
  width: 1000px;
  word-spacing: 5px;
  text-align: right;
}

.first_letter {
  font-size: 63px;
}

.name_size {
  font-size: 48px;
}

.articleFive_six_div img {
  width: 600px;
  margin-bottom: 120px;
}
.sound {
  position: fixed;
  top:5px;
  left: 5px;
  z-index: 100;
}
.sound__stop {
  height: 20px;
  width: 20px;
}

video#bgvid {
  position: absolute; 
  right: 0; 
  bottom: 0;
 min-width: 95%; 
  min-height: 100%;
  width: auto; height: auto;
  z-index: 100;
  
}