@import url('https://fonts.googleapis.com/css?family=Oswald:300,400&display=swap');

*{
  box-sizing: border-box;
}

@keyframes postit {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(-10px);
  }
}

@keyframes triangle_go {
  from {
    transform: translateX(-100vw);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

@keyframes triangle--text {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes chapter {
  from {
    transform: translateY(100vh);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    border: 0;
    padding: 0;
  }
  
  .section {
    height: 100vh;
    position: relative;
  }
  
  .section--horizontal {
    height: 400vw;
  }
  .section--horizontal .section__inner {
    width: 400vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .section--isFixed .section__inner {
    position: fixed;
  }
  
  .section--isScrolled .section__inner {
    bottom: 0;
    top: auto;
  }
  
  .products {
    display: flex;
  }
  
  .products__product {
    flex-basis: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    font-family: Helvetica, sans-serif;
    background-color:rgb(107, 9, 9);
    position: relative;

  }

.fil {
  position: absolute;
  bottom: 0;
  z-index:100;
  height:20px;
  width: 100vw;
  background-color:rgb(107, 9, 9);
  color:red;
  display: flex;

}

.fil__in {
  position: absolute;
  bottom: 0;
  z-index:100;
  height:10px;
  width: 100px;
  background-color:rgb(219, 17, 17);
  color:red;
}

.products__product:nth-child(1) {
    flex-direction: column;
    background: url('../images/bgHome.png') no-repeat ;
    background-size: cover;
}

/* article 1 */

.article--one {
  background: url('../images/bg-arti1.png') no-repeat;
  background-size: cover;
  height: 100vh;
}

.article--two {
  background: url('../images/bg1.png') no-repeat;
  background-size: cover;
  height: 100vh;
}

.bg2 {
  background: url('../images/img2.png') no-repeat;
  background-size: cover;

}

.bg3 {
  background: url('../images/bg3.png') no-repeat;
  background-size: cover;
}

.postit {
  width: 145px;
  height: 223px;
  background-color: rgba(70, 26, 39, 0.845);
  position: absolute;
  right: 85px;
  margin-top: 30px;
  animation: postit 1s infinite alternate;
  box-shadow: rgba(70, 26, 39, 0.845) 0 0 3px;
  border-radius: 10px;

}
.postit__in {
  width: 45px;
  height: 100%;
  box-shadow: rgba(70, 26, 39, 0.845) 0 0 3px;
  background-color: rgba(94, 158, 151, 0.68);
  border-radius: 10px 0 0 10px;

}
.postit--open {
  width: 535px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; 
  font-weight: 300;
  font-family: Oswald, sans-serif;
  font-size: 24px;
  text-align: center;
  line-height: 120%;
}

.postit--open i {
  position: absolute;
  top:5px;
  right:10px;
}

.hidden {
  display: none;
}
.bold {
  font-weight: 500;
}
.triangle {
  height: 100vh;
  width: 530px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: triangle_go 1s;
}

.triangle img {
  height: 100%;
  width: 530px;
  position: absolute;
}

.triangle p {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: white;
  width: 240px;
  margin-bottom: 130px;
  font-size: 40px;
  position: relative;
  line-height: 120%;
  animation: triangle--text 3s;
}

.bold {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;

}

.right {
  height: 100vh;
  width: 300px;
  background-color: #471B28;
  color: white;
  font-family: Oswald;
  font-size: 25px;
  text-align: center;
  font-weight: 300;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  right: 16px;
}

.right h2 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 100px;

}

.chapter {
  height: 160px;
  width: 100vw;
  bottom: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: chapter 2s;
  z-index: 10;
}

.chapter--relative {
  position: relative;
}

.chapter--art2 {
  position: fixed;
  bottom: 0;
}

.line {
  height: 1px;
  width: calc(100% - 500px);
  background: white;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: white 0 0 2px;
}
.round {
  height: 15px;
  width: 15px;
  background: #5E9E97;
  border: 2px solid #92C8BF;
  border-radius: 10px;
  box-shadow: 0 0 3px #92C8BF;
  position: relative;
  transition: 300ms;
}

.round:hover {
  cursor: pointer;
}

.is--in {
  background: white;
}

.title--chapter {
  color: white; 
  font-family: Oswald, sans-serif;
  font-size: 45px;
  width: 15%;
  text-align: center;
  line-height: 120%;
  position: absolute;
  right: 10px;
  top: -10px;
}

.round--title {
  position: absolute;
  bottom: 40px;
  right: -15px;
  font-size: 20px;
  color: white;
  font-family: Oswald, sans-serif;
  line-height: 120%;
  text-align: center;
}

.article--one__first {
  background: url('../images/img2.png') no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.notes {
  width: 281px;
  height: 220px;
  background-color: rgba(70, 26, 39, 0.719);
  position: absolute;
  bottom: -200vh;
  left: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 0;
  animation: postit 1s infinite alternate;

}

.notes p {
  color: white;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  line-height: 120%;
}

/* homepage */

.products__product:nth-child(1) {
  flex-direction: column;
  background: url('../images/bgHome.png') no-repeat center ;
  background-size: cover;
}

span.v {
color: #471B29;
font-size: 10rem;

}

.blocHome {
height: 100vh;
background: #191818;
width: 350px;
position: absolute;
left: 0;
}

.product__author {
color: white;
font-family: Agency, sans-serif;

}

.product__date {
color: white;
font-size: 4rem;
margin-left: 2%;
margin-top: 3%;
}

.product__title {
color: white;
margin-left: 3%;
font-size: 4rem;
margin-top: 3%;
}

.home__text {
margin-right: 40%;
margin-top: 30%;
z-index: 1;
font-family: Agency, sans-serif;
animation: fadein 2s forwards;
animation-delay: 900ms;
opacity: 0;
}

.top {
  position: absolute;
  top: 0;
  background: black;
  height: 50vh;
  width: 100vw;
  z-index: 3;
  transition: transform 800ms ease;
}

.bottom {
position: absolute;
bottom: 0;
background: black;
height: 50vh;
width: 100vw;
z-index: 3;
transition: transform 800ms ease;

}

.up {
transform: translateY(-100%);
}

.down {
transform: translateY(100%);
} 

.next a{
  position: absolute;
  right: 30px;
  top:50%;
  transform: translateY(-50%);
  color: red;
  font-size: 30px;
  text-decoration: none;
}